---
interface Props {
	title: string;
    backgroundImage?: string;
    extraClass?: string;
	href: string;
    description?: string;
    date: string
}

const { href, title, extraClass, backgroundImage, description, date } = Astro.props;
---

<div class={'card ' + (extraClass || '')}>
  <a
    class="card-cover icon150px"
    href={href}
    style={backgroundImage && `background: url(${backgroundImage}) center top/cover`}
  >
    {backgroundImage ? null : '\ue165'}
  </a>
  <div class="card-text">
    <h3 class="card-title dobr">
      <a href={href} >{title}</a>
    </h3>
    <ul class="card-details">
      <li class="product-type">
        <span class="glyphicon glyphicon-record"></span> Article { date }
      </li>
    </ul>
  </div>
  <!-- {% if article.available_languages() %}
  <ul class="flag-list">
    {% for locale in article.available_languages().values() %}
    <li>
      <img
        title="{{ locale.phrases['available_in'] }}"
        src="/static/img/icon/{{locale.territory}}.png"
      />
    </li>
    {% endfor %}
  </ul>
  {% endif %} -->
</div>