---
import { getBackgroundImage } from 'src/utils/images';

interface Props {
    title?: string;
    backgroundImage?: string;
    contentId?: string;
    collection?: string;
    tagline?: string;
    classes?: string;
}

let { title, backgroundImage, contentId = '', collection = 'articles', tagline, classes } = Astro.props;

let bg = '';
classes = "page-header margin-below-large " + classes;
if (backgroundImage) {
    const src = await getBackgroundImage(backgroundImage, contentId, 2400, 600, collection);
    bg = `background-image: url(${src})`;
    classes += " page-header-hero";
}

---

<header class={classes} style={bg}>
    <div class="container">
        <div class="row">
            <h1 class="col-lg-12 col-md-12 col-sm-12">
                {title}
                <small>{tagline}</small>
            </h1>
        </div>
    </div>
</header>