---
interface Props {
    title?: string;
    backgroundImage?: string;
    tagline?: string;
}

const { title, backgroundImage, tagline } = Astro.props;
const bg = backgroundImage ? `background: url(${backgroundImage}) center top/cover` : '';
const classes = backgroundImage ? "page-header margin-below-large page-header-hero" : "page-header margin-below-large";
---

<header class={classes} style={bg}>
    <div class="container">
        <div class="row">
            <h1 class="col-lg-12 col-md-12 col-sm-12">
                {title}
                <small>{tagline}</small>
            </h1>
        </div>
    </div>
</header>