---
import WorldIntro from './WorldIntro.astro';
import ArticleCardList from './ArticleCardList.astro';
import Header from './Header.astro';
import Site from './Site.astro';

import { latestArticlesForWorld } from '../utils/helpers';

const { world } = Astro.props;
const { Content, headings } = await world.render();

const articles = await latestArticlesForWorld(world.slug, 6);

---

<Site title={world.data.title}>
    <Header 
        title={world.data.title} 
        backgroundImage={world.data.images?.[0]}
        tagline={world.data.tagline}
    />
    <div class="container">
        <div class="row">
            <WorldIntro world={world} />
            <div class="col-lg-9 col-md-12 col-sm-12 content">
                <article class="article-text drop-caps">
                    <Content />
                </article>
                <ArticleCardList 
				    articles={articles}
				    title="Senaste nytt"
				    readMoreHref={`${world.slug}/articles`}
			    />
            </div>
        </div>
    </div>
</Site>